@use "./styleReset.scss" as *;

.member-page {
    height: 100vh;

    .bg-box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        #member-bg {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }

    .login-container {
        padding: 100px 0;
        justify-items: center;

        .login-card {
            position: relative;
            align-items: center;
            max-width: 450px;
            min-width: 450px;
            width: 100%;
            height: 80vh;
            padding: 20px 40px;
            border-radius: 20px;
            background: $white-20;
            backdrop-filter: blur(10px);
            filter: drop-shadow(4px 4px 2px $black-20);
            box-shadow: -6px -6px 2px $white-40;

            .toggle-container {
                display: flex;
                background: $white-40;
                border-radius: 24px;
                margin-bottom: 30px;
                position: relative;
                width: 50%;

                .toggle-btn {
                    flex: 1;
                    padding: 8px 12px;
                    border: none;
                    background: transparent;
                    border-radius: 36px;
                    cursor: pointer;
                    font-size: $font14-light;
                    transition: all 0.3s ease;
                    position: relative;
                    z-index: 2;

                    &.active {
                        background: $light-brown5;
                        color: white;
                        box-shadow: -2px 2px 2px $black-20;
                    }
                }
            }

            .logo {
                margin-bottom: 20px;
                justify-items: center;

                #eloa-logo {
                    height: 24px;
                }
            }

            .login-form {
                display: flex;
                flex-direction: column;
                gap: 20px;
                min-height:315px ;
                max-height:315px ;
                overflow-y: scroll;
                &::-webkit-scrollbar{
                    display: none;
                }

                .form-group {
                    display: flex;
                    flex-direction: column;

                    input {
                        padding: 16px 20px;
                        border: none;
                        border-radius: 12px;
                        font-size: $font14-light;
                        background: $white-40;
                        transition: all 0.3s ease;
                        outline: none;

                        &:focus {
                            background: $white;
                            box-shadow: 0 0 0 2px $white-20;
                        }

                        &.error {
                            border-color: red;
                        }
                    }
                }

                .error-text {
                    color: red;
                    font-size: $font14-light;
                    margin-top: 5px;
                    margin-left: 4px;
                }

                .submit-error {
                    text-align: center;
                    margin-top: 10px;
                    margin-left: 0;
                }

                .checkbox-container {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 12px;
                    font-size: $font14-light;
                    cursor: pointer;
                    position: relative;

                    input[type="checkbox"] {
                        opacity: 0;
                        position: absolute;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                    }

                    .checkmark {
                        height: 18px;
                        width: 18px;
                        background-color: $white-80;
                        border-radius: 4px;
                        flex-shrink: 0;
                        position: relative;
                        margin-top: 1px;

                        &::after {
                            content: "";
                            position: absolute;
                            display: none;
                            left: 35%;
                            top: 25%;
                            width: 5px;
                            height: 8px;
                            border: solid white;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }
                }

                .checkbox-container input:checked~.checkmark {
                    background-color: $light-brown5;
                }

                .checkbox-container input:checked~.checkmark:after {
                    display: block;
                }
            }

            
            
            .forgot-password {
                background: none;
                border: none;
                color: #D4B08A;
                text-decoration: underline;
                cursor: pointer;
                font-size: 14px;
                padding: 10px 0;
                margin-top: 10px;
                text-align: center;
                width: 100%;
                
                &:hover {
                    color: #c19a6b;
                }
            }
            
            
            .login-area {                
                justify-content: center;
                align-items: center;    
                        
                .submit-btn {
                    background: $light-brown2;
                    color: $white;
                    border: none;
                    padding: 16px;
                    border-radius: 8px;
                    font-size: $font16-light;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    margin-top: 10px;
                    width: 100%;
                    margin-bottom: 20px;
    
                    &:hover {
                        background: $light-brown1;
                        transform: translateY(-1px);
                        box-shadow: 0 4px 12px $black-40;
                    }
                }
                .social-login {
                    display: flex;
                    gap: 10px;
                    .social-btn {
                        width: 48px;
                        height: 48px;
                        border: none;
                        cursor: pointer;
                        align-items: center;
                        justify-content: center;
                        img {
                            transition: all 0.3s ease;
                            width: 100%;
                            object-fit: cover;
                            &:hover {
                                transform: translateY(-2px);
                                filter:drop-shadow(0 4px 4px $black-20); 
                            }
                        }
    
                    }
                }

                

            }



            /* 響應式設計 */
            @media (max-width: 480px) {
                .login-card {
                    padding: 30px 20px;
                    margin: 10px;
                }

                .logo h1 {
                    font-size: 36px;
                    letter-spacing: 6px;
                }
            }
        }
    }

}