@use "./styleReset" as *;

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: $white;
    bottom: 0;
    left: 0;
    width: 100%;
}

p,
h3 {
    color: $dark-brown2;
}

#ftrMain {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    #leftArea {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 50px;
        #logo {
            height: 40px;
            object-fit: contain;
            object-position: left;
            margin-bottom: 30px;
        }

        p {
            font-size: $font14-light;
            width: fit-content;
        }

        #socials {
            display: flex;
            justify-content: flex-start;
            margin-top: 30px;
            width: 50px;
            gap: 10px;
        }
    }

    #rightArea {
        width: 100%;
        align-self: flex-end;

        #siteMap {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 30px;

            li {
                width: fit-content;

                a {
                    text-decoration: none;
                    font-size: $font18-light;
                    color: $light-brown5;
                }
            }
        }

        #tools {
            display: flex;
            flex-direction: row;
            gap: 40px;
            a {
                margin-top: 30px;
                width: 30px;
            }
        }
    }
}

#copyright {
    width: 100%;
    background-color: $brown1;

    p {
        justify-self: center;
        font-size: $font14-light;
        color: $white;
    }
}